@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.main-box{
    height: 100dvh;      /* Using dvh (dynamic viewport height) for every devices */
    background-color: rgba(177, 234, 252, 0.661);
}

select{
    background-color: transparent;
    border: none;
    outline: none;
}
#basic-button{
    color: #fff !important;
}
#basic-button MenuItem{
    color: rgb(25, 118, 210) !important;
}
